body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noresize {
  resize: none; 
}
.align-right {
  margin-left: auto
}
.fullpage {
  min-height: calc(100vh - 3em);
}
.jumbotron {
  background: transparent
}
.footer {
  position: relative;
  margin: 0;
  border-radius: 0;
  color: #ffffff;
  background: #222222
}
.background {
  height: 0
}
.background-item-img {
  height: calc(100vh - 3em);
  width: 100vw;
  opacity: 0.85;
}
.navbar a, .navbar a:visited, .navbar a:hover, .navbar a:visited:hover, .navbar a:active {
  color: #ffffff
}
.dropdown-menu a, .dropdown-menu a:visited, .dropdown-menu a:hover, .dropdown-menu a:visited:hover {
  color: #222222
}
.dropdown-menu a:active, .dropdown-menu a:visited:active {
  color: #ffffff
}

.sub-title {
  font-size: 10pt;
}
.info-slider {
  background: #222222;
  color: #ffffff;
  padding: 32px 42px 32px 42px
}
.rating {
  text-align: center !important;
  background: #222222;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 0px;
  padding: 1em 3em 1em 3em !important
}
